
<mat-card class="example-card">
  <form [formGroup]="form" (submit)="onApplyPost()">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{post.residencename}}</mat-card-title>
    <mat-card-subtitle>{{post.state}}</mat-card-subtitle>
    <mat-card-subtitle>{{post.size}} sqft</mat-card-subtitle>
    <mat-card-subtitle>RM: {{post.price}} /Month</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="post.imagePath" alt="{{post.residencename}}">
  <mat-card-content>
    <p>
      Masterful design and modern luxury are uniquely embodied in this
      4 bedroom 4.5 bath Duplex Penthouse with a 4500 SF wraparound terrace
      atop Sky Lofts Condominium. This one-of-a-kind glass house, created by
      New York architect James Carpenter who designed 7 World Trade Center,
      is sheathed in high-performance, museum-quality insulated glass atop an
      historic Art Deco loft building in the heart of Tribeca.
    </p>
  </mat-card-content>
  <mat-form-field>
    <input
      matInput
      type="date"
      formControlName = "from"
      placeholder = "From"
      >
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      type="date"
      formControlName = "to"
      placeholder = "To"
      >
  </mat-form-field>
  <mat-card-actions>
    <button
      mat-raised-button
      color = "accent"
      type="submit">Apply
    </button>
  </mat-card-actions>
  </form>
</mat-card>
